.visible {
  display: none;
}
@media (max-width: 760px) {
  .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-200px, 0px);
    transition: tranform 0.5s ease;
  }
  .visible {
    display: flex;
  }
  .show {
    transform: translate(0px, 0px);
  }
}

.btn:hover {
  background-color: #0e1d4b;
  transform: scale(0.6);
}
