.visible {
  display: none;
}
@media (max-width: 760px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: fixed;
    transform: translate(-50rem, 7rem);
    transition: tranform 0.6s ease-in-out;
    background-color: #b8982a;
    width: 100%;
    height: 12rem;
    top: 0.01rem;
  }
  .visible {
    display: flex;
  }
  .show {
    transform: translate(0, 7rem);
  }
}

.btn:hover {
  background-color: #0e1d4b;
  transform: scale(0.6);
}
